@import "../utils/variables";

@mixin button-props{
  margin-top: 10px;
  padding: 4px;
  width: 100%;
  cursor: pointer;
  background-color: $orange;
  font-size: 15px;
  color: $pink;
  font-weight: bold;
}
